<section 
fxFlex
fxLayout="column" 
fxLayoutAlign="center center">
  <h1 *ngIf="!listIsEmpty()">
    <mat-icon>shopping_cart</mat-icon>
    CART
    <mat-icon>shopping_cart</mat-icon>
  </h1>
  <div *ngIf="!listIsEmpty()">
    <mat-form-field class="search">
      <input
        matInput
        type="text"
        (keyup)="doFilter($any($event.target).value)"
        placeholder="Search..."
      />
    </mat-form-field>
  </div>
  <div class="mattable" *ngIf="!listIsEmpty()">
    <mat-table [dataSource]="cartSource" matSort>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>
      <mat-footer-row
        class="sticky-footer"
        *matFooterRowDef="displayedColumns"
      ></mat-footer-row>

      <!-- NAME -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <!-- GENRE -->
      <ng-container matColumnDef="genre">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Genre</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.genre }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <!-- AUTHOR -->
      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Author</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.author }}</mat-cell>
        <mat-footer-cell *matFooterCellDef>
        </mat-footer-cell>
      </ng-container>
      <!-- PRICE -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Price</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.price }} $</mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <!-- AMOUNT -->
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Amount</mat-header-cell
        >
        <mat-cell *matCellDef="let element">x {{ element.amount }} 
          <button
          mat-raised-button
          (click)="addAmount(element)"
          [disabled]="element.status == 'ARRIVED'">
            +
          </button></mat-cell>
        <mat-footer-cell *matFooterCellDef>
          Total price : {{ calculateTotal() }} $
        </mat-footer-cell>
      </ng-container>
      <!-- STATUS -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.status }} </mat-cell>
        <mat-footer-cell *matFooterCellDef>
          <button mat-raised-button>CHECKOUT</button>
        </mat-footer-cell>
      </ng-container>
      <!-- ARRIVED -->
      <ng-container matColumnDef="arrived">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Change to Arrived
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button 
          mat-raised-button
          (click)="setComicStatus(element, 'ARRIVED')">
          ARRIVED
        </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <!-- CANCELLED -->
      <ng-container matColumnDef="cancelled">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Change to Cancelled
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button 
          mat-raised-button
          (click)="setComicStatus(element, 'CANCELLED')">
            CANCELLED
          </button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <!-- REVIEW -->
      <ng-container matColumnDef="review">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Review
        </mat-header-cell>
        <mat-cell *matCellDef="let element"
          >{{ this.reviewService.calculateGradeForBook(element.id) | number }} /
          5
          <button 
          mat-raised-button 
          (click)="leaveAReview(element)"
          [disabled]="element.status == 'IN PROGRESS' || element.status == 'CANCELLED'">
            <mat-icon>star</mat-icon>
          </button></mat-cell
        >
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
      <!-- REMOVEFROMCART -->
      <ng-container matColumnDef="removeFromCart">
        <mat-header-cell *matHeaderCellDef>Remove From Cart</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button 
          mat-raised-button 
          (click)="removeFromCart(element)"
          [disabled]="element.status == 'IN PROGRESS' || element.status == 'CANCELLED'">
            <mat-icon> close </mat-icon>
          </button></mat-cell
        >
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
    </mat-table>
    <mat-paginator
      [length]="cartSource.data.length"
      [pageSize]="5"
      [pageSizeOptions]="[1, 2, 5, 10]"
    >
    </mat-paginator>
  </div>
  <h1 *ngIf="listIsEmpty()">! YOUR CART IS EMPTY !</h1>
</section>
