<mat-sidenav-container>
  <!-- SIDE NAVIGACIJA -->
  <mat-sidenav #sidenav opened="false" position="end">
    <mat-nav-list fxLayout="column" fxLayoutGap="20px">
      <mat-list-item>
        <a
          mat-list-item
          routerLink="/comic"
          (click)="sidenav.close()"
          class="nav"
        >
          <mat-icon class="navlist">menu_book</mat-icon>
          SHOP
        </a>
      </mat-list-item>
      <mat-list-item>
        <a
          mat-list-item
          routerLink="/signup"
          (click)="sidenav.close()"
          class="nav"
        >
          <mat-icon class="navlist">person</mat-icon>
          Signup
        </a>
      </mat-list-item>
      <mat-list-item>
        <a
          mat-list-item
          routerLink="/login"
          (click)="sidenav.close()"
          class="nav"
        >
          <mat-icon class="navlist">login</mat-icon>
          Login
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-list-item routerLink="/" (click)="sidenav.close()" class="nav">
          <mat-icon class="navlist">logout</mat-icon>
          Logout
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <!-- GLAVNI DEO -->
  <mat-sidenav-content class="main">
    <!-- NAVBAR -->
    <mat-toolbar>
      <div class="homebutton" fxLayoutAlign="center center">
        <a routerLink="/"><img src="../assets/images/logo-nav@2x.png" /></a>
      </div>
      <div fxFlex fxLayoutAlign="end" fxLayoutGap="30px" fxHide.xs>
        
        <button *ngIf="this.userService.getIsUserLoggedIn()" mat-raised-button color="warn" (click)="openProfile(this.userService.currentUser.id)">
          {{ this.userService.currentUser.email }}
        </button>
        <a routerLink="/" class="nav">HOME</a>
        <a routerLink="/comic" class="nav">SHOP</a>
        <a routerLink="/login" class="nav">LOGIN</a>
        <a routerLink="/signup" class="nav">SIGNUP</a>
        <a routerLink="/cart" class="nav">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </div>
      <div fxHide.gt-xs fxFlex fxLayoutAlign="end center" fxLayoutGap="10px">
        <a routerLink="/cart" class="nav"><mat-icon>shopping_cart</mat-icon></a>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <!-- PRIKAZ STRANICA -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
